<h2>s'enregistrer</h2>


<div class="form-container">
<form method="post" action="index.php?view=lib/signup" >
    <label for="username">Veuillez choisir un nom d'utilisateur</label>
    <input type="text" name="username" id="username" autocomplete="off">
    <br>
    <label for="password">Veuillez choisir un mot de passe</label>
    <input type="password" name="password" id="password">
    <br>
    <label for="confirmPassword">Veuillez confirmer votre mot de passe</label>
    <input type="password" name="confirmPassword" id="confirmPassword">
    <br>
    <label for="email">Veuillez entrer votre email</label>
    <input type="email" name="email" id="email" autocomplete="off">
    <br>
    <input type="submit" value="S'inscrire">
</form>
</div>